<!doctype html>
<html style="background-color:#e3d7c1";>
<head>
  <meta charset="utf-8">
  <title>生成食譜</title>
</head>

<body>
<center><font size="5" color="#3D332A"><h2>AI 米其林甜點大師-生成食譜</h2>
<form action="/making" method="post">
  <center>
  <table>
  <tr>
    <td><label for="Bread"><font size="5" color="#3D332A">Bread %：</label></td>
    <td><input type="text" name="Bread"></td>
    <td><label for="Cake"><font size="5" color="#3D332A">Cake %：</label></td>
    <td><input type="text" name="Cake"></td>
    <td><label for="Cookie"><font size="5" color="#3D332A">Cookie %：</label></td>
    <td><input type="text" name="Cookie"></td>
    <td><label for="Croissant"><font size="5" color="#3D332A">Croissant %：</label></td>
    <td><input type="text" name="Croissant"></td>
  </tr>
  </table>
  </center>
  
  <center>
  <table>
    <tr>
      <td><input type="reset" value="重設"></td>
      <td><input type="submit" value="生成"></td>
    </tr>
  </table>
  </center>
</form>
  
<left>
  <font size="5" color="#3D332A"><h3>你的食譜為：</h3>
</left>
  
<form action="{{ url_for('home') }}">
  <center>
    <table>  
      <tr>
      <td>{{message}}</td>
      </tr>
    </table>
  </center>
  
  <center>
  <table>
    <tr>  
     <td><input type="submit" value="回前頁"></td>
    </tr>
  </table>
  </center>
</form>
</body>
</html>
