<!doctype html>
<html style="background-color:#e3d7c1;">
<head>
  <meta charset="utf-8">
  <title>AI 米其林甜點大師</title>
</head>

<body>
<center><font size="5" color="#3D332A"><h2>AI 米其林甜點大師</h2></center>
<form action="{{ url_for('baking') }}" method="POST">
  <center>
  <table>
  <tr>
    <td><label for="Yeast"><font size="5" color="#3D332A"> Yeast(g)：</font/label></td>
    <td><input type="text" name="Yeast"></td>
    <td> <label for="Almond"><font size="5" color="#3D332A">Almond Poweder(g)：</label></td>
    <td><input type="text" name="Almond"></td>
  </tr>
  <tr>
    <td><label for="Flour"><font size="5" color="#3D332A">Flour(g)：</label></td>
    <td><input type="text" name="Flour"></td>
    <td><label for="Chocolate"><font size="5" color="#3D332A">Chocolate Poweder(g)：</label></td>
    <td><input type="text" name="Chocolate"></td>
  </tr>
  <tr>
    <td><label for="Sugar"><font size="5" color="#3D332A">Sugar(g)：</label></td>
    <td><input type="text" name="Sugar"></td>
    <td><label for="Banana"><font size="5" color="#3D332A">Banana(g)：</label></td>
    <td> <input type="text" name="Banana"></td>
  </tr>
  <tr>
    <td><label for="Egg"><font size="5" color="#3D332A">Egg：</label></td>
    <td><input type="text" name="Egg"></td>
    <td><label for="Flaky"><font size="5" color="#3D332A">Flaky Butter(g)：</label></td>
    <td><input type="text" name="Flaky"></td>
  </tr>
  <tr>
    <td><label for="Oil"><font size="5" color="#3D332A">Oil(g)：</label></td>
    <td><input type="text" name="Oil"></td>
    <td><label for="Honey"><font size="5" color="#3D332A">Honey(g)：</label></td>
    <td><input type="text" name="Honey"></td>
  </tr>
  <tr>
    <td><label for="Milk"><font size="5" color="#3D332A">Milk(g)：</label></td>
    <td><input type="text" name="Milk"></td>
    <td><label for="Water"><font size="5" color="#3D332A">Water(g)：</label></td>
    <td><input type="text" name="Water"></td>
  </tr>
  <tr>
    <td><label for="Soda"><font size="5" color="#3D332A">Bake Soda(tsp)：</label></td>
    <td><input type="text" name="Soda"></td>
    <td><label for="Butter"><font size="5" color="#3D332A">Butter(g)：</label></td>
    <td><input type="text" name="Butter"></td>
  </tr>
  <tr>
    <td><label for="Powder"><font size="5" color="#3D332A">Bake Powder(tsp)：</label></td>
    <td><input type="text" name="Powder"></td>
    <td><label for="Salt"><font size="5" color="#3D332A">Salt(g)：</label></td>
    <td><input type="text" name="Salt"></td>
  </tr>
</table></center>
  <!--
  
  <center> 
  <p>
    <label for="Yeast">Yeast(g)：</label>
    <input type="text" name="Yeast">
    <label for="Oil">Oil(g)：</label>
    <input type="text" name="Oil">
    <label for="Almond">Almond Poweder(g)：</label>
    <input type="text" name="Almond">
    <label for="Honey">Honey(g)：</label>
    <input type="text" name="Honey">
  </p></center>

  <center>
  <p>
    <label for="Flour">Flour(g)：</label>
    <input type="text" name="Flour">
    <label for="Milk">Milk(g)：</label>
    <input type="text" name="Milk">
    <label for="Chocolate">Chocolate Poweder(g)：</label>
    <input type="text" name="Chocolate">
    <label for="Water">Water(g)：</label>
    <input type="text" name="Water">
  </p></center>

  <center>
  <p>
    <label for="Sugar">Sugar(g)：</label>
    <input type="text" name="Sugar">
    <label for="Soda">Bake Soda(tsp)：</label>
    <input type="text" name="Soda">
    <label for="Banana">Banana(g)：</label>
    <input type="text" name="Banana">
    <label for="Butter">Butter(g)：</label>
    <input type="text" name="Butter">
  </p></center>

  <center>
  <p>
    <label for="Egg">Egg：</label>
    <input type="text" name="Egg">
    <label for="Powder">Bake Powder(tsp)：</label>
    <input type="text" name="Powder">
    <label for="Flaky">Flaky Butter(g)：</label>
    <input type="text" name="Flaky">
    <label for="Salt">Salt(g)：</label>
    <input type="text" name="Salt">
  </p></center> -->  

  </p>
  <center>
  <table>
    <tr>
      <td><font size="5" color="#3D332A"><input type="reset" value="重設" style="width:120px;height:40px;"></td>
      <td><font size="5" color="#3D332A"><input type="submit" value="送出" style="width:120px;height:40px;"></td>
    </tr>
  </table>
  </center>
</form>
<p>
<form action="/make">
  <center>  <table>
    <tr>
      <td><font size="5" color="#3D332A"><button>生成食譜</button><input style="width:120px;height:40px;"></td>
    </tr>
 
  </table></center>

</form>
</p> 



</body>
</html>
