<!doctype html>
<html style="background-color:#e3d7c1;">
<head>
    <meta charset="utf-8">
    <title>你的甜點是?</title>
</head>
    
<body>
<center><font size="5" color="#3D332A"><h2>你的甜點是?</h2></center>
<form action="{{ url_for('home') }}">
    <left>
    <table>
    <tr>
        <td>Bread：{{ bread }} %</td>
        <td>&nbsp&nbsp</td>
        <td>Cake：{{ cake }} %</td>
        <td>&nbsp&nbsp</td>
        <td>Cookie：{{ cookie }} %</td>
        <td>&nbsp&nbsp</td>
        <td>Croissant：{{ croissant }} %</td>
    </tr>
    </table>
    </left>
    
<!--     <left> -->
    <table>
    <tr>
        <td>
            <left>
                <strong>{{message}}!!</strong>
            </left>
        </td>
        <td>
            <style = "align:right"><img src = {{dessert}}">
        </td>
    </tr>
    </table> 
<!--     </left> -->

    <left>
    <table>
        <tr>
            <td><center><h3>烘烤指標</h3><font size="5" color="#3D332A"></center>
            </td>
        </tr>
    </table>
    </left>
    
        <left>
        <table>
            <tr>
                <td>Temperature：{{ Temperature }} &#8451</td>
                <td></td>
                <td>Time：{{ Time }} min</td>
            </tr>
        </table>
        </left>

        <left>
        <table>
            <tr>
            <td><input type="submit" value="返回前頁" style="width:120px;height:40px;"></td>
            </tr>
        </table>
        </left>
        </form>

   </body>
</html>
