<!doctype html>
<html style="background-color:#e3d7c1;">
<head>
    <meta charset="utf-8">
    <title>你的甜點是?</title>
</head>
    
<body>
<center><font size="5" color="#3D332A"><h2>你的甜點是?</h2></center>
<form action="{{ url_for('home') }}">
    <center>
    <table>
    <tr>
        <td>Bread：{{ bread }} %</td>
        <td>&nbsp</td>
        <td>Cake：{{ cake }} %</td>
        <td>&nbsp</td>
        <td>Cookie：{{ cookie }} %</td>
        <td>&nbsp</td>
        <td>Croissant：{{ croissant }} %</td>
    </tr>
    <tr>
    <table>
    <center>
        <strong>{{message}}!!</strong>
    </center>
    </table>
    </tr>
    <p>
    <table>
        <tr>
            <td><center><h3>烘烤指標</h3><font size="5" color="#3D332A"></center>
            </td>
        </tr>
    </table>
    </p>
       
    <p>
        <center>
        <table>
        <tr>
            <td>Temperature：{{ Temperature }} &#8451</td>
            <td></td>
            <td>Time：{{ Time }} min</td>
        </tr>
        </table>
        </center>
    </p>
        <center>
        <table>
            <tr>
            <td><input type="submit" value="返回前頁" style="width:120px;height:40px;"></td>
            </tr>
        </table>
        </center>
        </form>

   </body>
</html>
